{{!-- works with burgerModels.js --}}
<div class="container">
  <h1>Burgers!</h1>

  <h2>Lets Eat Some Burgers!</h2>

  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burger/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
  </ul>

  <h2>All Full!</h2>

  <ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burger/burger-block devoured=false}}
    {{/if}}
    {{/each}}
  </ul>

  <h2>Choose your burger!</h2>

  <form class="create-form">

    <div class="form-group">
      <label for="bu">Burger Type:</label>
      <input type="text" id="bu" name="name">
    </div>

    <button class="btn btn-primary" type="submit">Add food</button>
  </form>

</div>